---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import favicon from "/public/favicon.svg";

const year = new Date().getFullYear();
const { containerClasses } = Astro.props;
const data = await getEntry("data", "footer")
const frontmatter = data.data
---

<footer class:list={["relative", "bg-black", ...containerClasses]}>
  <div class="mx-auto max-w-7xl px-6 pb-12 lg:px-12 xl:px-6 2xl:px-0">
      <div>
          <div class="flex flex-wrap items-center gap-6">
              <h2 class="text-3xl text-white xl:text-6xl">Instagram</h2>
              <a href="https://instagram.com/caracals.wup" target="_blank" class="h-max rounded-full border border-white/40 px-2 py-1 text-xs tracking-wider text-white">@caracals.wup</a>
          </div>
          <div class="mt-12 grid grid-cols-2 md:grid-cols-4 md:mt-16 lg:mt-24">
            {frontmatter?.instagram?.map(item => (
                <a href={item.url} target="_blank" class="relative before:absolute before:inset-0 before:origin-top before:bg-gradient-to-t before:from-black/5 before:opacity-50 before:backdrop-grayscale before:transition before:duration-500 hover:before:origin-bottom hover:before:scale-y-0">
                    <span class="sr-only">Instagram feed</span>
                    <Image class="transition duration-500" src={item.image} layout="constrained" alt="insta feed cover" width="1333" height="1333" />
                </a>
            ))}
          </div>
      </div>
      <div class="mt-12 md:mt-16 lg:mt-24">
          <div class="space-y-8 md:space-y-12">
              <a href="/" class="text-2xl font-light tracking-widest text-white">
                  <span class="sr-only">Caracals Logo</span>
                  <Image class="h-8 w-auto brightness-200" src={favicon} alt="logo mark" width="100" height="100" />
              </a>
              <nav>
                  <ul class="flex flex-wrap gap-6 text-sm uppercase tracking-wider text-white">
                      {frontmatter?.links?.map(link => (
                        <li>
                          <a href={link.url}>{link.label}</a>
                        </li>
                      ))}
                  </ul>
              </nav>
              <div class="flex flex-wrap justify-between gap-3">
                  <span class="text-sm text-white/50">&copy; Caracals 2008 - {year}</span>
                  <span class="text-sm text-white/50">Built by <a href="https://x.com/maex2k" class="text-white">Max #16</a></span>
              </div>
          </div>
      </div>
  </div>
</footer>